<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="NHRIDBEntitiesDB" connectionString="metadata=res://*/DbModel.ModelDB.csdl|res://*/DbModel.ModelDB.ssdl|res://*/DbModel.ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.146.250.128;initial catalog=NHRIDB;user id=sa;Password=mju76yhnBGT%$RFVcde3;multipleactiveresultsets=True;Connection Timeout=12000;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--<add name="NHRIDBEntitiesDB" connectionString="metadata=res://*/DbModel.ModelDB.csdl|res://*/DbModel.ModelDB.ssdl|res://*/DbModel.ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=NHRIDB;user id=NHRI;password=1qaz2wsx;multipleactiveresultsets=True;Connection Timeout=12000;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	</connectionStrings>
</configuration>