 
@{
    ViewBag.Title = "資料匯入";
}

<div class="msg">
    @TempData["msg"]
</div>
<a href="@Url.Action("ExportData")" target="_blank" >下載範本</a>
 
            <form action="@Url.Action("Upload")" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <input type="file" id="upload" name="upload" accept=".xlsx,.csv">
                <input type="hidden" id="id" name="id" />
                <button class="btn sure" type="submit">確認上傳</button>
                <button class="btn cancel" type="button" data-dismiss="modal">取消</button>
            </form>
        
 

