@model NHRIDB.Models.ViewModels.ImportViewModel
@{
    ViewBag.Title = "上傳檢體";
}

<div class="msg">
    @Model.msg
</div>

<label style="color:red">下載範本最後更新時間: @Model.templateTime</label>
<br />
<a href="~/Template/@Model.template" target="_blank">下載範本</a>

<form action="@Url.Action("Index")" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <input type="file" id="upload" name="upload" accept=".xlsx,.csv">
    <input type="hidden" id="id" name="id" />
    <button class="btn sure" type="submit">確認上傳</button>
</form>



